<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <div>
      <img src=" <%= product.thumbnail %>  " alt="" />
      <h4><%= product.title %></h4>
      <p><%= product.description %></p>
    </div>
  </body>
</html>
